.nav-link {
    color:white;
}
.product .text-card {
    min-height: 300px;
}
.product .card:hover {
    border-color: yellowgreen;
 
}
.nav-link.active {
    background-color:red ;
}
 
#admin-products .table > tbody > tr > td {
    vertical-align: middle;
}

body { 
    background-color:#2d445a36 !important;
}